.section{
    width: 100%;

}
.board{
    width: 100%;
    height: 500px;
    
}
.board_name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
}
.board_name > p {
    width: 20%;
    text-align: center;
}
.board_datas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 0;
}
.board_datas:hover{
    background-color: #FFC1D2;
}
.board_datas > ul{
    width: 20%;
    text-align: center;
}
.chart{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 20px;
}
.linkBtn{
    width: 50px;
    height: 50px;
    color: blanchedalmond;
}
.gray_line{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.write_btn{
    width: 75px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #F0255E;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 20px ;
}
.btn_box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.user_name{
    width: 80%;
    margin: 0 auto;
}
.title_underline:hover{
    cursor: pointer;
    text-decoration: underline;
}