.section{
    width: 100%;
    background-color: brown;

}
.board{
    width: 100%;
    height: 500px;
    background-color: rgb(80, 244, 244);
    
}
.board_name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board_name > p {
    width: 20%;
    text-align: center;
}
.board_datas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board_datas > ul{
    width: 20%;
    text-align: center;
}
.chart{
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 15px;
}