.head{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.head_right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.a_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.after_line{
    color: black;
    font-weight: bold;

}
.before_line{
    color: black;
    font-weight: bold;
    padding-left: 8px;
}
.before_line:before{
    content: '';
    display: inline;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-right: 8px;



}

.column_line{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 19.5px;
}
.h1_box{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.h1_box > h1 {
    font-size: 30px;
    color: #F0255E;
}
.logout{
    width: 25%;
    margin: 0 auto;
}
.title_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_box > h2 {
    
}