.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.head_right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_box{
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.after_line{
    color: black;
    font-weight: bold;

}
.column_line{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 19.5px;
}
.h1_box{
    width: 33%;
    display: flex;
    justify-content: center;

}
.h1_box > h1 {
    font-size: 30px;
    color: #F0255E;
}
.logout{
    width: 25%;
    margin: 0 auto;
}
.form_class{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_box > h2 {
    
}